<form class="from-horizontal">
<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>


  <div class="form-group">
    <%= form_for(@message) do |f| %>
      <label for="name2" class="control-label col-sm-2">名前:</labe>
  </div>
  
  <div>
    <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
    <label for="name2" class="control-label col-sm-2">内容:</labe>
  </div>
  
  <divclass="form-group">
    <%= f.text_area :body %>
  </div>
  
  <br>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</form>
<% end %>
